@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.magic-orb {
  cursor: pointer;
  width: 120px;
  height: 120px;
  animation: float 5s ease-in-out infinite;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 160px;
  animation: float 4s ease-in-out infinite;
}

.blue-bg {
  background: #0052ff;
}

.yellow-bg {
  background: rgb(254, 224, 2);
}

.pink-bg {
  background: rgb(255, 141, 207);
}
.bg-ocsblue {
  background-color: #0052ff
}

.bg-ocspink {
  --tw-bg-opacity: 1;
  background-color: rgb(255 141 207/var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 210 0/var(--tw-bg-opacity))
}

.gm-bg {
  background-image: url("../public/img/gm2.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  display: inline-block;
}

@keyframes float {
  
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}


@keyframes sparkle {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

.magic-orb::before, .magic-orb::after, .magic-orb .sparkle {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
  border-radius: 50%;
  animation: sparkle 1.5s linear infinite;
  pointer-events: none;
}

.magic-orb::before {
  top: 10%;
  left: 10%;
  animation-delay: 0.5s;
}

.magic-orb::after {
  top: 80%;
  left: 70%;
  animation-delay: 1s;
}

.magic-orb .sparkle-1 {
  top: 30%;
  left: 50%;
  animation-delay: 1.5s;
}

.magic-orb .sparkle-2 {
  top: 60%;
  left: 30%;
  animation-delay: 2s;
}

.magic-orb {
  cursor: pointer;
  width: 120px;
  height: 120px;
  animation: float 5s ease-in-out infinite;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 160px;
  animation: float 4s ease-in-out infinite;
}

.magic-orb.connected {
  filter: sepia(1) saturate(2) hue-rotate(10deg) brightness(1);
}

.wallet-info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.836); 
  padding: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10; 
  height: 35%; 
}

.nopoweruser {
  filter: grayscale(100%);
}
